# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Directories #
target/
tmp/
node_modules/
jaxws/jaxws-client/src/main/
jaxws/jaxws-endpoint/src/main/webapp/WEB-INF/wsdl/
 
# OS Files #
.DS_Store
 
*.class
 

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# NetBeans
######################
nbproject/private/
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# Testing environment specific
derby.log


######################
# Liberty tools
######################

.factorypath
